html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.colors button {
	width: 30px;
	height: 30px;
}

.vertical-line {
	line-height: 0px;
}

.square {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid black;
	margin-right: -1px;
	margin-bottom: -1px;
}